@import '../../views/styles/';

.timer {
	text-align: center;
}

.time {
	@include default-shadow;
	user-select: none;
	font-size: $sz-xl;
	background-color: $color-background-default;
	color: $color-secondary-contrast-text;
	border-radius: $sz-md;
	padding: $sz-md;
	span {
		display: inline-block;
		width: 13%;
	}
}
