$color-primary-main: #ffd248;
$color-primary-light: #ffdb6c;
$color-primary-dark: #b29332;
$color-primary-contrast-text: rgba(0, 0, 0, 0.87);

$color-secondary-main: #e53935;
$color-secondary-light: #ea605d;
$color-secondary-dark: #a02725;
$color-secondary-contrast-text: #fff;

$color-background-default: #303030;
$color-background-paper: #434343;

$color-epic: #9f30e3;
$color-rare: #0d6fc5;
$color-uncommon: #2eeb24;
$color-common: #bebebf;
