@import '../../views/styles';

.AppHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 32px;
	margin-top: 1rem;
}
.logotypeSvg {
	width: 150px;
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6);
	border-radius: 100%;
}
.title {
	user-select: none;
	font-family: $DancingScript, cursive;
	font-weight: bold;
	color: $color-primary-main;
	text-shadow: 2px 2px 2px $color-primary-dark;
}
