@import '../../views/styles';
.container {
	display: flex;
	justify-content: center;
}

.nav {
	@include default-shadow;
	display: flex;
	position: fixed;
	bottom: 20px;
	top: auto;
	width: 95%;
	height: 55px;
	overflow-x: auto;
	backdrop-filter: blur(5px) saturate(100%);
	background-color: $color-background-paper;
	border-radius: 15px;
	border: 1px solid rgba($color-background-default, 0.2);
}

.nav__link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	color: $color-secondary-contrast-text;
	text-decoration: none;
	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: rgba($color-background-default, $opacity-medium);
	}
	&--active {
		background-color: rgba($color-background-default, $opacity-medium);
		color: $color-primary-main;
	}
}
