@import-normalize;

body {
	background-color: #f3f3f3;
	margin: 0;
	font-family: -apple-system, $Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f3f3f3;
}

li {
	list-style: none;
}
